:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121;
    --secondary-text-color-theme-dark: #757575;
    --text-color-theme-light: #ffffff;
    --accent-color: #2196f3;
}

body {
    font-family: var(--primary-font-family);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*=====START COMPONENTS=====*/

.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: var(--accent-color);
    color: var(--text-color-theme-light);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--text-color-theme-light);
    color: var(--accent-color);
}



/*=====END COMPONENTS=====*/

/*=====START HEADER=====*/

.title-link {
    
}

.nav-list-link {
    font-family: inherit;
    font-weight: 500;

}

/*=====END HEADER=====*/

